<body>
  <div class="container-index">
    <div row>
      <div class="col-lg-12-main">
        <div class="col-md-6 portfolio-item">
          <div class="row-quarter">
            <%= image_tag "spring.jpg", height: '553px', width: '700px' %>
          </div>
        </div>
        <div class="col-md-6 portfolio-item">
          <div class="row-quarter">
            <%= image_tag "summer.jpg", height: '553px', width: '700px' %>
          </div>
        </div>
      </div>
      <div class="col-lg-12-main">
        <div class="col-md-6 portfolio-item">
          <div class="row-quarter">
            <%= image_tag "autumn.jpg", height: '553px', width: '700px' %>
          </div>
        </div>
        <div class="col-md-6 portfolio-item">
          <div class="row-quarter">
            <%= image_tag "winter.jpeg", height: '553px', width: '700px' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>