// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-users {
    margin-top: 100px;
}

.container-child.col-md-2.col-sm-4.col-xs-6.users {
    height: 300px;
    width: 200px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  .inner {
    height: 170px;
    width: 170px;
    margin-top: 10px;
  }
}