<!DOCTYPE html>
 <html lang="ja">
  <head>
    <title>MMM</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/2-col-portfolio.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <script src=""</script>
   <header>
   <nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    
  </div>
</nav>
   </header>
  <body>
    <%= yield %>
  </body>
</html>
